ul { list-style: none; }

button {
    position: fixed;
    bottom: 5px;
    right: 5px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    outline: none;
  }

  .footer-bottom{
    padding: .25em;
  }