/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    /*color: #5a5a5a; */
  }
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  .carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  } 

  

    /* Declare height because of positioning of img element */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 24px;
      color: white;
      font-weight: 700;
    }


    @media (max-width:250px){
      .carousel-caption p {
        line-height: 33; /*not visible*/
      }
    }
    

    @media (min-width:250px) and (max-width:260px) {
      .carousel-caption p {
        line-height: 15
      }
    }
    @media (min-width:260px) and (max-width:275px) {
      .carousel-caption p {
        line-height: 16;
      }
    }

    @media (min-width:275px) and (max-width:290px) {
      .carousel-caption p {
        line-height: 17;
      }
    }

    @media (min-width:290px) and (max-width:300px) {
      .carousel-caption p {
        line-height: 18;
      }
    }
    @media (min-width:300px) and (max-width:305px) {
      .carousel-caption p {
        line-height: 19;
      }
    }

    @media (min-width:305px) and (max-width:320px) {
      .carousel-caption p {
        line-height: 20;
      }
    }

    @media (min-width:320px) and (max-width:340px) {
      .carousel-caption p {
        line-height: 21;
      }
    }

    @media (min-width:340px) and (max-width:350px) {
      .carousel-caption p {
        line-height: 22;
      }
    }
    @media (min-width:350px) and (max-width:360px) {
      .carousel-caption p {
        line-height: 23;
      }
    }
    @media (min-width:360px) and (max-width:370px) {
      .carousel-caption p {
        line-height: 24;
      }
    }

    @media (min-width:370px) and (max-width:380px) {
      .carousel-caption p {
        line-height: 25;
      }
    }
    @media (min-width:380px) and (max-width:390px) {
      .carousel-caption p {
        line-height: 26;
      }
    }
    @media (min-width:390px) and (max-width:400px) {
      .carousel-caption p {
        line-height: 27;
      }
    }
    @media (min-width:400px) and (max-width:424px) {
      .carousel-caption p {
        line-height: 28;
      }
    }

    @media (min-width:424px) and (max-width:430px) {
      .carousel-caption p {
        line-height: 29
      }
    }
    @media (min-width:430px) and (max-width:439px) {
      .carousel-caption p {
        line-height: 29.5
      }
    }
    @media (min-width:439px) and (max-width:450px) {
      .carousel-caption p {
        line-height: 30;
      }
    }
    @media (min-width:450px) and (max-width:460px) {
      .carousel-caption p {
        line-height: 31;
      }
    }

    @media (min-width:460px) and (max-width:470px) {
      .carousel-caption p {
        line-height: 32;
      }
    }

    @media (min-width:470px) {
      .carousel-caption p {
        line-height: 34;
      }
    }

  /*  @media (min-width:1081px) {
      .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 24px;
        line-height: 35;
        color: white;
        font-weight: bold;
      }
    }*/

    .carousel-caption h1 {
        color: black;
    }
 
    
   /*The location of this matters, when carousel-control etc. were lower in the css, the arrows wouldnt
   show up when the website was in its mobile version*/ 
    .carousel-control-next,
  .carousel-control-prev /*, .carousel-indicators */ {
      filter: invert(100%);
  }
  
    .featurette-heading {
      font-size: 50px;
    }
  