<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex justify-content-center"><img src="assets/20230307_160528_sized.jpg" alt="care pic 1"></div>
        <div class="carousel-caption">
          <p> Dedicated to elderly care </p>
        </div>
        
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center"><img src="assets/20230424_073207.jpg" alt="care pic 2"></div>
      
        <div class="carousel-caption">
          <p> 10+ years of experience </p>
        </div>
         
      </div>
     

      <!--  d-none d-md blocks previous and next carousel buttons disappear for mobile
      removed altogether for now with d-block after the images were realigned and no longer centered-->
    <button class="d-none d-block carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="d-none d-md-block carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>