/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    /*color: #5a5a5a; */
  }
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  .carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  } 

  

    /* Declare height because of positioning of img element */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 24px;
      color: white;
      font-weight: 700;
    }



    
    @media (max-width:290px) {
      .carousel-caption p {
        line-height: 17;
      }
    }

    @media (min-width:291px) and (max-width:300px) {
      .carousel-caption p {
        line-height: 18;
      }
    }
    @media (min-width:301px) and (max-width:305px) {
      .carousel-caption p {
        line-height: 19;
      }
    }

    @media (min-width:306px) and (max-width:320px) {
      .carousel-caption p {
        line-height: 20;
      }
    }

    @media (min-width:321px) and (max-width:424px) {
      .carousel-caption p {
        line-height: 25;
      }
    }

    @media (min-width:425px) and (max-width:459px) {
      .carousel-caption p {
        line-height: 29;
      }
    }

    @media (min-width:460px) {
      .carousel-caption p {
        line-height: 35;
      }
    }

  /*  @media (min-width:1081px) {
      .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 24px;
        line-height: 35;
        color: white;
        font-weight: bold;
      }
    }*/

    .carousel-caption h1 {
        color: black;
    }
 
    
   /*The location of this matters, when carousel-control etc. were lower in the css, the arrows wouldnt
   show up when the website was in its mobile version*/ 
    .carousel-control-next,
  .carousel-control-prev /*, .carousel-indicators */ {
      filter: invert(100%);
  }
  
    .featurette-heading {
      font-size: 50px;
    }
  