h1{
  font-size:30px;
}
@media (min-width: 900px) { 
  h1 {
    font-size: 70px;
  }
}

  

  div[name="head"] {
    background-image: linear-gradient(to right,teal, rgb(166,139,158));
    color: white;
  }

