
    
        <div class = "container">
        <div class = "card">
            <div class = "card-body">
                24 hours a day, seven days a week.
                <br>
                Schedule your Home Care Assessment by calling or sending an email to <code><a href=mailto:“contact@stlangelcare.com”>contact@stlangelcare.com</a></code>
                <br>
                <br>
                Phone Number: (314) 601-4345
              
        </div>
    </div>
</div>

<br>

<!--div name = "component-sec" class = "container">
    <div class = "card">
        <div class = "card-body">
<app-contact-form></app-contact-form>
</div></div></div-->