<!-- Wrapper container -->
<div class="container py-4">

    <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
  
      <div class="form-group">
      <!-- Name input -->
      <div class="mb-2">
        <label class="form-label" for="name">Name</label>
        <input class="form-control" id="name" type="text" [class.error]="FormData.controls['EmailerName'].dirty && FormData.hasError('required','EmailerName')"
        name="EmailerName" formControlName="EmailerName"/>
        <small *ngIf="FormData.controls['EmailerName'].dirty && FormData.hasError('required','EmailerName')" class="text-danger">Name is required</small>
      </div>
      <!-- Email address input -->
      <div class="mb-2">
        <label class="form-label" for="emailAddress">Email Address</label>
        <input class="form-control" id="emailAddress" type="email" [class.error]="FormData.controls['Email'].dirty && FormData.hasError('required','Email')"
        name="Email" formControlName="Email" />
        <small *ngIf="FormData.controls['Email'].dirty && FormData.hasError('required','Email')" class="text-danger">Email Address is required</small>
      </div>
      <!-- Message input -->
      <div class="mb-2">
        <label class="form-label" for="message">Message</label>
        <textarea class="form-control" id="message" type="text" [class.error]="FormData.controls['Message'].dirty && FormData.hasError('required','Message')"
        name="Message" formControlName="Message" style="height: 10rem;"></textarea>
        <small *ngIf="FormData.controls['Message'].dirty && FormData.hasError('required','Message')" class="text-danger">Message is required</small>
      </div>
      <!-- Form submit button -->
      <div class="d-grid">
        <!--button class="btn btn-primary btn-lg" type="submit" [disabled]="!FormData.valid">Submit</button-->
        <button class="btn btn-primary btn-lg" type="submit">Submit</button>
      </div>
    </div>
    </form>
  
  </div>