<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" name="tabs">
	<li [ngbNavItem]="1">
		<a ngbNavLink>Mission Statement</a>
		<ng-template ngbNavContent>
		 <p>
			We strive to offer the highest level of professionalism, services, and support to our clients in order that our clients live independently.
		 
		 </p>
		</ng-template>
	</li>
	<li [ngbNavItem]="2">
		<a ngbNavLink>What We Do</a>
		<ng-template ngbNavContent>
			<app-what-we-do-exp></app-what-we-do-exp>
		</ng-template>
	</li>
	<li [ngbNavItem]="3">
		<a ngbNavLink>Value</a>
		<ng-template ngbNavContent>
		 <p> 
		 
		 </p>
		</ng-template>
	</li>
	<li [ngbNavItem]="4">
		<a ngbNavLink>Vision</a>
		<ng-template ngbNavContent>
		 <p> People of different generations are heard, valued, and cared for.  Our vision is to become a great trusted name and home care provider of choice in the St. Louis area.  Our experienced and dedicated caregivers will continue to promote well-being through support and active daily interation with our clients and their relatives.</p>
		</ng-template>
	</li>
	<li [ngbNavItem]="5">
		<a ngbNavLink>Contact Us</a>
		<ng-template ngbNavContent>
			<p>	24 hours a day, seven days a week. </p>
			<p>Phone Number:</p>
			<p>Home Care </p>


			<p>Schedule your Home Care Assessment</p>
		
				<app-contact-form></app-contact-form>
		</ng-template>
	</li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

