<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" name="tabs">
	<li [ngbNavItem]="1">
		<a ngbNavLink>Mission Statement</a>
		<ng-template ngbNavContent>
		 <p>
			We strive to offer the highest levewl of professionalism, services, and support to our clients in order that our clients live independently.
		 
		 </p>
		</ng-template>
	</li>
	<li [ngbNavItem]="2">
		<a ngbNavLink>What We Do</a>
		<ng-template ngbNavContent>
			<p>
				Our experienced and compassionate caregivers are commited to providing great care to sensure that you or your family member is being well cared for while helping them to remain independent at home. We offer help to seniors by providing services that are designed to help them live independently in their homes and communities.
Takes advantage of our affordable rate services while recieving the best services for your loved one. Whether you need part time or around the clock help, we are here to offer care based on your specific needs.
We offer an individual care plan for your loved one.  The plan will be reviwed and updated based on your changing needs.
			</p>
			<p>We fully recognize your right to dignity and individuality in the care of your personal needs.Our clients are very important to us. Please let us know if you have any questions regarding our service to ensure that we meet your needs and expectations.
				Our experience caregivers offer help with bathing, housekeeping, laundry, hygience, dressing, toileting, mobility, transportation, medicationm reminders, pet care and more services that depend on your specific needs. We will be pleased to have the chance to provide care for you or your loved one.</p>
		</ng-template>
	</li>
	<li [ngbNavItem]="3">
		<a ngbNavLink>Value</a>
		<ng-template ngbNavContent>
		 <p> 
		 
		 </p>
		</ng-template>
	</li>
	<li [ngbNavItem]="4">
		<a ngbNavLink>Vision</a>
		<ng-template ngbNavContent>
		 <p> People of different generations are heard, valued, and cared for.  Our vision is to become a great trusted name and home cvare provider of choice in the St. Louis area.  Our experienced and dedicated caregivers will continue to promote well-being through support and active daily interation with our clients and their relatives.</p>
		</ng-template>
	</li>
	<li [ngbNavItem]="5">
		<a ngbNavLink>Contact Us</a>
		<ng-template ngbNavContent>
			<p>	24 hours a day, seven days a week. </p>
			<p>Phone Number:</p>
			<p>Home Care </p>


			<p>Schedule your Home Care Assessment

				Contact Form Goes Here</p>
		
			
		</ng-template>
	</li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<pre>Active: {{ active }}</pre>

