/*.container{
  padding-top:2%;
  font-size: 22px;
}*/

div[name="tabs"] {
    font-size: 20px;
  }

  ::ng-deep .nav-pills a.nav-link.active, 
::ng-deep .nav-pills .show > a.nav-link {
  color:white;
  background-color: teal;
}
:ng-deep .navbar a.nav-link.active, 
::ng-deep .navbar .show > a.nav-link {
  background-color:teal;
}

h1{
  font-size:30px;
}
.navbar a.nav-link:hover {
  font-weight:bolder;
}
a.nav-link{
  color:white;
}
collapse ul li a { color:white }.navbar-brand { color:white }