<h1> Welcome to St. Louis Angelic Caregivers</h1>


<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
	<li [ngbNavItem]="1">
		<a ngbNavLink>One</a>
		<ng-template ngbNavContent>
			<p>
				Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
				master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
				keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
				salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
			</p>
		</ng-template>
	</li>
	<li [ngbNavItem]="2">
		<a ngbNavLink>Two</a>
		<ng-template ngbNavContent>
			<p>
				Our experienced and compassionate caregivers are commited to providing great care to sensure that you or your family member is being well cared for while helping them to remain independent at home. We offer help to seniors by providing services that are designed to help them live independently in their homes and communities.
Takes advantage of our affordable rate services while recieving the best services for your loved one. Whether you need part time or around the clock help, we are here to offer care based on your specific needs.
We offer an individual care plan for your loved one.  The plan will be reviwed and updated based on your changing needs.
			</p>
			<p>We fully recognize your right to dignity and individuality in the care of your personal needs.Our patients are very important to us. Please let us know if you have any questions regarding our service to ensure that we meet your needs and expectations.
				Our experience caregivers offer help with bathing, housekeeping, laundry, hygience, dressing, toileting, mobility, transportation, medicationm reminders, pet care and more services that depend on your specific needs. We will be pleased to have the chance to provide care for you or your loved one.</p>
		</ng-template>
	</li>
	<li [ngbNavItem]="3">
		<a ngbNavLink>Three</a>
		<ng-template ngbNavContent>
			<p>
				Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi.
				Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio.
				Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna,
				egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec
				tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et
				magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget
				neque. Phasellus nec tortor vel tellus pulvinar feugiat.
			</p>
		</ng-template>
	</li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<pre>Active: {{ active }}</pre>

