   <div name = "component-sec" class = "container">
      <div class = "card">
         <div class = "card-body">
         Integrity - We establish and preserve trust with all clients by applying our knowledge and skills fairly.
      <br>
      <br>
         Professionalism- We are knowledgeable, accurate, conscientious, innovative, and service-oriented.
      <br>
      <br>

         Respect- We interact with people in a way that makes them feel heard and valued. We Listen and respond wholeheartedly.
      <br>
      <br>
         Collaboration- We recognize and act on opportunities to work together to deliver our company’s best. We consult, and share ideas, fostering innovation to improve the service experience, both internally and externally.
      
         </div>
         </div>
   </div>