<p>Honest, loving, kind and patient</p>
<p>You will be completely satisfied with the results</p>
<p>I can't imagine anyone better in her field</p>
<p>A top-notch caregiver and quality human being</p>
<p>Smart and capable of running a household. Our parents best interests are her first and 
highest priority.
</p>
<p>She's an advocate for them and makes sure they get what they need and that they are treated fairly and kindly</p>
<p>We feel like she's irreplaceable!</p>

<!--Pat S one testimonial giver name-->