div[name="bodydiv"] {
    padding-top:2%;
  }

  
div[name="all"] {
  background-color: rgb(226,228,255) ;
  padding-bottom:13%;
}
 /* RESPONSIVE CSS -------------------------------------------------- */
/*moved footer down for 4k(2160 width) */
@media (min-width:2100px) {
  div[name="all"] {
    font-size:28px;
    padding-bottom:36%;
  }
}

/*div[name="carousel"]{
  background-color: rgb(228, 200, 224);
}*/

 