div[name="bodydiv"] {
    font-size:17px;
    padding-top:2%;
  }

  
div[name="all"] {
  background-color: rgb(226,228,255) ;
  padding-bottom:13%;
}
 /* RESPONSIVE CSS -------------------------------------------------- */
/*moved footer down for 4k(3840 width) */
@media (min-width:2000px) {
  div[name="bodydiv"] {
    padding-bottom:12%;
  }
}

/*should be less than 1080*/
@media (max-width:900px) {
  div[name="bodydiv"] {
    font-size:22px;
  }
}
/*i should try to take a @media between those two with 17 font

also given ultrawide montiors, I should try if max-height works for bootstrap*/

/*div[name="carousel"]{
  background-color: rgb(228, 200, 224);
}*/

 