<div name = "all">

  <app-bootdrop></app-bootdrop>

  <div class = "row d-none d-md-block" name="bigscreenpad"> </div>

  <div class = "row justify-content-center flex-lg-row-reverse">
    <div class="col-xxl-4">
      <div name = "carousel">
        <app-carousel></app-carousel>
      </div>
    </div>
  <div class="col-xxl-3">
    <div name = "bodydiv">
      <router-outlet></router-outlet>
    </div>
  </div>



  <div class = "before-footer"></div>
  
  </div>

  
</div>
<app-footer></app-footer>