.container {
    min-height: 150px;
}
.card{
    background-color: rgb(226,228,255) ;
  }

  /* 2000px maximum bootstrap*/
  @media (min-width:2000px) {
    div[name="component-sec"] {
      padding-bottom:40%;
    }
  }